let mapleader=" "

set clipboard+=unnamed
set ignorecase
"" Don't use Ex mode, use Q for formatting.
map Q gq
""" Map leader to space ---------------------

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set highlightedyank
"set which-key
set NERDTree
""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Toggle search hilighting
map <silent> <F11> :set invhlsearch<CR>
imap <silent> <F11> <C-o>:set invhlsearch<CR>
vmap <silent> <F11> :<C-u>set invhlsearch<CR>gv

""" Normal mappings --------------------------------
nnoremap sq :q! <cr>
map <leader>c :q! <cr>
map <C-c> :action HideActiveWindow<cr>
nnoremap q <ESC>
vnoremap q <ESC>
nnoremap <leader>w :w!<CR>
" Easy window sqlit navigation {{{
nnoremap <C-j> <C-w>
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap sj <C-w>
nnoremap sk <C-w>k
nnoremap sl <C-w>l
nnoremap sh <C-w>h
nnoremap ss :split<Return><C-w>w
nnoremap sv :vsplit<Return><C-w>w

""" Insert mappings
inoremap jk <ESC>


""" Mappings --------------------------------
nmap <leader>mw <Plug>(easymotion-s)
nmap <leader>ml <Plug>(easymotion-f)
""" map sh :

""" Find
nmap <leader>fr :action RecentFiles<cr>
nmap <leader>fe :action SearchEverywhere<cr>
nmap <leader>fa :action GotoAction<cr>
nmap <leader>ff :action GotoFile<cr>
nmap <leader>fs :action FindInPath<cr>

" NERDTree
nmap <leader>e :NERDTree<cr>
nmap <leader>nf :NERDTreeFind<cr>

""" Buffer control
nmap <leader>be :action CloseAllEditorsButActive<cr>
nmap <leader>bl :action CloseAllToTheRight<cr>
nmap <leader>bh :action CloseAllToTheLeft<cr>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

"" LSP
nmap <leader>lr :action RenameElement<cr>
nmap <leader>la :action QuickFixes<cr>
nmap <leader>ls :action GotoSymbol<cr>
nmap <leader>lp :action ActivateProblemsViewToolWindow<cr>
nmap <leader>lj :action GotoNextError<cr>
nmap <leader>lk :action GotoPreviousError<cr>
nmap K :action QuickJavaDoc<cr>

" Navigation
nmap gu :action FindUsages<cr>
nmap gi :action GotoImplementation<cr>
nmap gc :action GotoClass<cr>
nmap gp :action GotToSuperMethod<CR>
nmap gs :action GotoSymbol<cr>
nmap ge :action SelectIn<cr>
nmap mt :action ToggleBookmark<cr>
nmap ms :action ShowBookmarks<cr>
nmap <leader>h :action Back<cr>
nmap <leader>l :action Forward<cr>

" Useful Git actions
nmap <leader>gb :action Git.Branches<cr>
nmap <leader>gp :action Git.Pull<cr>
nmap <leader>gu :action Git.Push<cr>
nmap <leader>gr :action Git.Rebase<cr>
nmap <leader>gm :action Git.Merge<cr>

" Refactorings
vmap <leader>ra :action Refactorings.QuickListPopupAction<cr>
vmap <leader>re :action ExtractMethod<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>ro :action OptimizeImports<cr>
" Inspection
nmap <leader>rc :action InspectCode<cr>

""" Terminal
map <C-\> :action ActivateTerminalToolWindow<cr>

" Search
nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>

" Moving lines
"nmap <C-k> :action MoveLineUp<cr>
"nmap <C-j> :action MoveLineDown<cr>
" Moving statements
"nmap <A-k> :action MoveStatementUp<cr>
"nmap <A-j> :action MoveStatementDown<cr>

" Building, Running and Debugging
nmap <leader>ds :action Debug<cr>
nmap <leader>db :action ToggleLineBreakpoint<cr>
" nmap <leader>dv :action ParameterInfo<cr>
nmap <leader>dj :action StepOver<cr>
nmap <leader>di :action StepInto<cr>
nmap <leader>do :action StepOut<cr>
nmap <leader>dc :action RunToCursor<cr>
nmap <leader>dv :action QuickEvaluateExpression<cr>
vmap <leader>dv :action QuickEvaluateExpression<cr>
nmap <leader>da :action ViewBreakpoints<cr>
