snippet ignore "pyright ignore"
	# pyright:ignore[${1}]

snippet py-strict "pyright: strict"
	# pyright: strict

snippet py-basic "pyright: basic"
	# pyright: basic

snippet py-all "pyright: all"
	# pyright: all
