snippet ignore "pyright ignore"
	# pyright:ignore[${1}]

snippet strict "pyright: strict"
	# pyright: strict

snippet basic "pyright: basic"
	# pyright: basic

snippet all "pyright: all"
	# pyright: all
